body{
background:#1f1f1f;
color:white;
font-family:sans-serif;
display:flex;
justify-content:center;
padding:20px;
}

.card{
background:#2b2b2b;
padding:25px;
border-radius:20px;
max-width:420px;
width:100%;
position:relative;
overflow:visible;
}

.title{
text-align:center;
margin-bottom:20px;
}

.top{
display:flex;
align-items:flex-start;
justify-content:space-between;
}

.info{
flex:1;
z-index:2;
}

/* Molly照片 */
.baby{
position:absolute;
right:15px;
top:70px;
width:135px;
height:auto;
object-fit:contain;
pointer-events:none;
}

p{
margin:8px 0;
}

#feedBtn{
width:100%;
padding:18px;
font-size:18px;
background:#5fb061;
color:white;
border:none;
border-radius:14px;
margin-top:20px;
}

h2{
margin-top:30px;
text-align:center;
}

table{
width:100%;
margin-top:15px;
border-collapse:collapse;
}

th{
background:#3a3a3a;
padding:10px;
border-radius:8px;
}

td{
padding:12px;
text-align:center;
border-bottom:1px solid #444;
}

button.delete{
background:#5fb061;
border:none;
color:white;
padding:8px 14px;
border-radius:10px;
}
