body{

margin:0;
padding:0;

font-family:-apple-system,BlinkMacSystemFont;

background:linear-gradient(
180deg,
#1b1b1b,
#2d2d2d
);

color:#eee;

display:flex;
justify-content:center;

}

.card{

width:90%;
max-width:420px;

margin-top:30px;

background:#2f2f2f;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,0.4);

}

.title{

text-align:center;

font-size:2.2em;

margin-bottom:25px;

}

p{

font-size:1.15em;

margin:18px 0;

}

button{

width:100%;

padding:16px;

margin-top:20px;

border:none;

border-radius:12px;

background:#62a85c;

color:white;

font-size:1.1em;

cursor:pointer;

}

button:active{

transform:scale(0.97);

}

h2{

margin-top:35px;

text-align:center;

}

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

th{

background:#3c3c3c;

padding:12px;

border-radius:10px;

}

td{

padding:14px 8px;

text-align:center;

border-bottom:1px solid #444;

}

.deleteBtn{

background:#62a85c;

border:none;

padding:8px 12px;

border-radius:10px;

color:white;

cursor:pointer;

}